<%- include('layouts/header') %>
<%- include('layouts/nav') %>
  <body>
  
    <!-- Navigasi -->
   
  
    <h1>Tentang Saya</h1>
    <p>Saya bukan siapa siapa </p>
    <img src="img/donal.png" alt="donal" height="100px" width="100px">
  
  </body>
  <%- include('layouts/footer') %>
  </html>
</html>