<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Kontak</title>
    <link rel="stylesheet"> <!-- Tambahkan CSS jika diperlukan -->
</head>
<body>
    <h1>Detail Kontak</h1>
    <p><strong>Nama:</strong> <%= contact.name %></p>
    <p><strong>Email:</strong> <%= contact.email %></p>
    <p><strong>Nomor Telepon:</strong> <%= contact.mobile %></p>

    <button><a href="/contact" style="text-decoration: none; color: inherit;">Kembali</a></button>
</body>
</html>
