<%- include('layouts/header') %>
<%- include('layouts/nav') %>
<body>

  <h1>Selamat datang di halaman <%= name  %></h1>
  <p>Ini adalah contoh halaman dengan navigasi sederhana menggunakan HTML.</p>

</body>
<%- include('layouts/footer') %>
</html>